.pages1{
    background-image: url("../images//shopImg.jpg");
}
.pages2{
    background-image: url("../images/page1.jpg");
}
.pages3{
    background-image: url("../images/page2.jpg");
}
.pages4{
    background-image: url("../images/page3.jpg");
}
.pages5{
    background-image: url("../images/page4.jpg");
}
.slyr{
    background-image: url("../images/page5.png");
}